

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');




:root {

    
    --light-light-Body:#f0f0f5;
    --light-light-Section:#fff;
    --Dark-Text-Primary-Body:#1a1a3c;
    --Dark-Text-Primary-Section:#292e4a;
    --Dark-Text-Primary-Section-Secondary:#282848;
    --light-Default:#6c5ffc;
    --light-Primary:#ec82ef;
    --light-Secondary:#05c3fb;
    --Light-Warning: #ffbb55;
    --Light-Success: #13bfa6;
    --light-Red: #e82646 ;

    --light-Light-Text-Primary:#dedefd;
    --Dark-Text-Primary-Text-Primary:#282f53;
    --light-Light-Border:#e9edf4;
    --Dark-Text-Primary-Border:#ffffff2a;

    --dark-Body:#f0f0f5;
    --dark-Section:#fff;
    --Dark-Section-Secondary:#fff;
    --Dark-Text-Primary:#282f53;
    --Dark-Border:#e9edf4c6;
    --Dark-Icon:#6c5ffc;

    --Light-Mode:#ffbb55;
    --Mode-Light:#f6f6f9;
    --Mode-Dark:#ffbb55;

    --font-size:16px;
    
}


.dark {
    --Light-Mode:#f6f6f9;
    --dark-Body:#1a1a3c;
    --dark-Section:#292e4a;
    --Dark-Section-Secondary:#282848;
    --Dark-Text-Primary:#dedefd;
    --Dark-Border:#ffffff2a;
    /* --Dark-Icon:#dedefd; */


}


html {
    scroll-behavior: smooth;
}


header , nav ,section {
    width: 100%;
    max-width: 100%;
    height: auto;
}

p {
    line-height: 30px;
}
button {
    box-sizing: border-box;
    text-align: center;
    transition: 0.3s ease all;
}

img {
    max-width: 100%;
    height: auto;
}



ul {
    padding: 0;
    list-style-type: style type none;
}

li {
    list-style-type: style type none;
}

a {
    text-decoration: none;
    color: var(--Dark-Text-Primary);
}

a:hover {
    color:var(--Dark-Text-Primary) ;
}

a:active {
    color:var(--Dark-Text-Primary) ;
}

a:visited {
    color:var(--Dark-Text-Primary) ;
}


input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="file"],
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 7px 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 10px;
    margin: 10px;
    color: var(--Dark-Text-Primary);
    background-color: var(--Dark-Section-Secondary);
    border-color: var(--Dark-Border) !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


::before , ::after {
    position: absolute;
    content: "";
}
body {
    font-family: 'Poppins', sans-serif;
    background: var(--dark-Body);
    color: var(--Dark-Text-Primary) !important;
}


.navbar {
    background-color: var(--dark-Section);
    color: var(--Dark-Text-Primary) !important;
    border-bottom: 1px solid var(--Dark-Border);
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar .navbar-brand img {
    height: 2rem;
    margin-right: 0.5rem;
}

.navbar .navbar-brand span {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    color: var(--Dark-Text-Primary) !important;
}

.navbar .navbar-nav {
    margin-left: auto;
    display: flex;

}

.navbar-brand {
    color: var(--Dark-Text-Primary-Section) !important;
}

.navbar .nav-link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--Dark-Text-Primary) !important;
}

.navbar .active {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--light-Default) !important;
}
.signIn {
    color: var(--Dark-Text-Primary);
}
.navbar .nav-link:hover,
.signIn:hover {
    color: var(--Dark-Icon) !important;
}

.navbar.dark .nav-link {
    color: var(--Dark-Text-Primary);
}


/* Button Styles */
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: var(--Dark-Text-Primary)!important;
}
.btn:hover {
    color: var(--Dark-Icon) !important;

}


.blue-button {
    display: block;
    background-image: linear-gradient(to right, var(--light-Default),var(--light-Primary));
    border-radius: 10px;
    padding:8px 10px ;
    margin: 10px 0;
    transition: 0.3s;
    border: none;
    text-align: center;
    width: 100%;
    color: var(--light-light-Section) !important;
}

.blue-button:hover {
    background-image: linear-gradient(to bottom right, var(--light-Default),var(--light-Secondary));
}
.btn-success {
    color: var(--light-light-Section) !important;
    background: var(--Light-Success) !important;
    border: none;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 0.8125rem;
    padding: 0.5em 0.9em;
    outline: none;
    border-radius: 6px;
}
.btn-red {
    color: var(--light-light-Section) !important;
    background: var(--Light-Red) !important;
    border: none;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 0.8125rem;
    padding: 0.5em 0.9em;
    outline: none;
    border-radius: 6px;
}

.btn-blue {

    display: block;
    background: var(--light-Secondary) !important;
    border-radius: 10px;
    padding:8px 10px ;
    margin: 10px 0;
    transition: 0.3s;
    border: none;
    text-align: center;
    width: 100%;
    color: var(--light-light-Section) !important;
}





.red-button-rounded {
    border: 3px solid var(--light-Default);
    width: 100%;
    margin: 10px 0;
    padding:8px 10px ;
    color: var(--light-light-Section);
    background: transparent;
    border-radius: 10px;
}

.red-button-rounded:hover {
    border: 3px solid var(--light-Default);
    color: var(--light-light-Section);
    background-image: linear-gradient(to bottom right, var(--light-Default), #c5174b);
}


.blue-button:focus, 
.red-button:focus,
.red-button-rounded:focus{
    outline: none;
}
.btn-details {
    border: 1px solid var(--Dark-Border);
    border-radius: 10px;
    color: var(--Dark-Text-Primary-Section);
    padding:8px 10px ;
    margin: 10px 0;
    width: 100%;
}
.btn-details:hover {
    border: none;
    color: var(--light-light-Section);
    background-image: linear-gradient(to right, var(--light-Default), #FF4B82);

}
/* dark mode */


.sun {
    color:var(--dark-Section) ;
    background-color:var(--Light-Mode) ;
}

.moon {
    color: var(--Dark-Text-Primary-Section);
    background-color: var(--Mode-Light);
}

#btnDark {
background-color: var(--Mode-Dark);
max-width: 80px !important;
}

/* footer */
footer {
    background-color: var(--dark-Section);
    color: var(--Dark-Text-Primary-Section);
}
.logo {
    width: 50px ;
}

.fa-bars {
    color: var(--Dark-Icon);
}

/* modal */

.modal-content{
    border-radius: 20px !important;
}



.spanLogin {
    font-size: 14px;
}

/* section 1  */

.main-section {
    background-image: url('../../img/1.4c4f0246.jpg');
    background-size: cover;
    background-position: center;
    /* padding: 10% 5%; */
    height: calc(100vh - 78.4px);
    max-height:calc(100vh - 78.4px);
}
/* content */
.main-section .content {
    background:#58ace678;
    /* width: 40%; */
    padding: 30px;
    border-radius: calc(var(--font-size) + 10px);
    color: var(--light-light-Section);
}

.main-section .content h2 span {
    color:  var(--light-Default);
}

.main-section .content p {
    text-align: justify;
}

/* card */
.card {
    background: var(--dark-Section);
    color: var(--Dark-Text-Primary);
    overflow: hidden;
    position: relative;
}
.card-prix {
    position: absolute;
    margin-top: -31px;
    right: 20px;
    width: 7em;
    padding: 6px 14px;
    font-weight: 700;
    font-size: 14px;
    background: var(--light-Red) !important ;
    border-radius: 7px;
    color: var(--light-light-Section) !important;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.card-date {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    background:var(--light-light-Section) !important;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 0 10px;
    border-radius: 7px;
}

.card-feature-box {
    font-size: 13px;
}

strong {
    font-size: 14px;
    font-weight: 500;
}
.meta-content a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.meta-content {
    color: var(--Dark-Text-Primary) !important;
}

.cardSherch {
    background-color: var(--dark-Section);
    color: var(--Dark-Text-Primary);
}
.partPrice {
    border-bottom: 2px solid var(--Dark-Border);
}

.partFilter {
    max-height: 200px;
    height: auto;
    overflow-y: scroll;
    border-bottom: 2px solid var(--Dark-Border);
}


/* About */
.imgAbout {
    border-radius: 40px;
}


/* footer */

footer {
    color: var(--Dark-Text-Primary);
}



/* login */

.login {
    background-color: var(--dark-Section);
    min-height: 100vh;
}
.card-login {
    background-color: var(--dark-Body);
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.logo-login  {
    width: 100px;
}


.btnLogin {
    margin: 25px 0 0 10px;
}


.erorrImg {
    width: 1000%;
    height: 100vh;
}


.stm-badge-dealer {
    position: absolute;
    left: -65px;
    padding: 0 55px;
    top: 20px;
    width: 200px;
    height: 33px;
    line-height: 33px;
    transform: rotate(-45deg);
    color: var(--Dark-Text-Primary) !important;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: var(--light-Red);
}




/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    min-width: 100%;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: var(--Dark-Body);
    color: var(--Dark-Text-Primary);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.sliderImg {
    overflow-x: scroll;
}
/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.8;
}

.activeImg,
.demo:hover {
    opacity: 1;
}

.imageslider {
    width: 147px;
    min-width: 147px;

}


.sliderImg::-webkit-scrollbar {
    height: 5px;
    background-color: var(--Dark-Section);
}

.sliderImg::-webkit-scrollbar-thumb {
    background-color: var(--light-Default);
}
/* single-car-data */
.single-car-data {
    background: var(--Dark-Body);
    padding: 0 20px;
}
.single-car-data div {
    padding: 20px ;
    margin-bottom: 5px;
    border: 2px solid #ffffff2a !important;
}
.single-car-data div:last-child {
    background-color: var(--light-Secondary);
    color: var(--Light-Light-Text-Primary);
}

.errorMessage {
    color: red;
    margin: 0 0 10px 10px;
    font-size: 14px;
}

.profail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    
}

.slidcardprofaile {
    background: red;
    position: absolute;
    padding: 10px;
    top: 50px;
    width: 100%;
    border-radius: 5px;
}